.header-left{
    position: relative;
    padding-right: 24px;
}
.header-left::before{
    position: absolute;
    width: 2px;
    top: 0;
    right: 0;
    height: 100%;
    content: "";
    background: #383838;
}
.header-right button{
    color: #fff;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    transition: all .2s ease;
    border-radius: 20px;
}
.header-right button:hover{
    background: #252525;
}